/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; /* Base font size */
    scroll-behavior: smooth; /* Smooth scrolling for anchor links */
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #232531;
    visibility: hidden;
}
body.css-ready {
    visibility: visible;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.gradient-text {
    background: linear-gradient(to right, #eb6168, #fcbf0d);
    -webkit-background-clip: text; /* For WebKit browsers */
    -webkit-text-fill-color: transparent; /* Makes the text transparent to show the gradient */
    display: inline;
}
